<!DOCTYPE html>
<html>

<head>
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  <!-- Title -->
  <title>{{ config.APP_NAME }}</title>

  <!-- Styles -->
  {% block styles %}
  {% endblock %}

  <!-- JQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

  <!-- Bootstrap with theme -->
  <link rel="stylesheet" href="https://bootswatch.com/3/cerulean/bootstrap.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- SocketIO -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>

  <!-- Scripts -->
  {% block scripts %}
  {% endblock %}
</head>

<body>
  <div class="container-fluid fill">
    {% include "navbar.html" %}

    <!-- Flashed messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-dismissable alert-{{ category }} fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <!-- Content -->
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>